@font-face {
  font-family: 'Impact';
  src: url('../fonts/Impact.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Impact.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Impact.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Impact.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Impact.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Impact.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	font-family:Roboto,sans-serif;
	color:#fff
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

h1 {
	margin: 0;
}

.main {
	background: url(..//img/fonwhite.jpg) no-repeat center top / cover;
}

.arrow {
	margin-top: 198px;
    position: relative;
    z-index: 10;
    margin-left: 29px;
    top: -17px;
}

.offer {
  background: #000;
  position: relative;
  z-index: 1;
  padding: 0 15%;
}

.offer:before, .offer:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.offer:before {
  top: 0;
  -webkit-transform: skewY(6.5deg);
          transform: skewY(6.5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.offer:after {
   bottom: 0;
   -webkit-transform: skewY(6.5deg);
   transform: skewY(6.5deg);
   -webkit-transform-origin: 0 100%;
   transform-origin: 0 100%;
}

.offer__title {
	font-size: 26.77px;
	text-align: center;
	padding-top: 30px;
	line-height: 1.4em;
}

.offer__title span{
	text-transform: uppercase;
	font-family: 'Impact';
}

.offer__item {
	border: 3px solid #f6f6f6;
	width: 106px;
	height: 106px;
	border-radius: 50%;
	justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;	
}

.offer__number {
	font-size: 48.93px;
	font-family: 'Impact';
	color: #ff0000;
	margin-top: -18px;
}


.offer__number_small {
	font-size: 34.33px;
	margin-top: -15px;
}

.offer__number__middle {
	font-size: 39.11px;
}

.offer__txt {
	font-size: 17px;
	text-transform: uppercase;
	margin-top: -8px;
}

.offer__txt_hd {
	font-size: 13.76px;
	margin-top: -11px;
}

.offer__txt_md {
	font-size: 13px;
	line-height: 1.3em;
}

.offer__txt_mdd {
	font-size: 13px;
	margin-top: 5px;
}

.offer__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 34px;
}

.offer__txt_sm {
	font-size: 10px;
	margin-top: 12px;
}

.offer__img {
	margin-top: 15px;
}

.offer__img_wifi {
	margin-top: 18px;
}

.footer__btn {
	width: 244px;
	background: #ff0000;
	font-size: 26.77px;
	border: none;
	border-radius: 4px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	z-index: 11;
	padding: 8px 0;
	top: 12px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.footer__txt {
	color: #3c3c3c;
	font-size: 9px;
	margin-top: 21px;
}

.footer {
	text-align: center;
	padding-bottom: 50px;
}

.tr {
	background: #fff;
}